<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9YK3NoHAq83XRtaGTZ5p2qQnz1Ne0vuc</string>
	<key>GCM_SENDER_ID</key>
	<string>520960204746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nizwaTest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nizwaapp-f2511</string>
	<key>STORAGE_BUCKET</key>
	<string>nizwaapp-f2511.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520960204746:ios:4104d1703693061136b933</string>
</dict>
</plist>